<!-- Begin Rockstar Speakers Section -->
<section id="organisers" class="organiser image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.organisersImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 organiser-list">
			<h3 id="organiser-title">{{ site.organisersTitle }}</h3>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->
