---
layout: default
title: Apply
permalink: /apply/
image: application.jpg
modal: all
---

{% include top-section.html %}

<section id="apply" class="apply">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3>Registration will open late April.</h3>
      <p>We have 30+ <b>fully funded</b> places for participants from academia.
        That's right, all expenses paid: flights, travel, accomodation, meals.
        The limited number of places will be awarded after registration closes.
      </p>
    </div>
  </div>
</section>

{%include subscribe.html %}
